<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Manage Sports</h1>
<form action="/admin/manage-sports" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <label for="name">Sport Name:</label>
  <input type="text" name="name" required>
  <button type="submit">Add Sport</button>
</form>

</body>
</html>