<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
  
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

      body {
          font-family: 'Arial', sans-serif;
          background-color: #f4f7fb;
          color: #333;
          padding: 20px;
      }

      h1 {
          font-size: 2.5rem;
          color: #34495e;
          text-align: center;
          margin-bottom: 40px;
      }

     
      table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 20px;
      }

      th, td {
          padding: 12px;
          text-align: left;
          border: 1px solid #ddd;
      }

      th {
          background-color: #3498db;
          color: white;
          font-size: 1.1rem;
      }

      td {
          background-color: #fff;
          font-size: 1rem;
      }

      tr:nth-child(even) {
          background-color: #f2f2f2;
      }

      tr:hover {
          background-color: #f1f1f1;
      }

    
      @media (max-width: 768px) {
          h1 {
              font-size: 2rem;
          }

          table {
              width: 100%;
              font-size: 0.9rem;
          }

          th, td {
              padding: 10px;
          }
      }
  </style>
</head>
<body>
    <h1>Session Reports</h1>
<table>
  <thead>
    <tr>
      <th>Sport</th>
      <th>Sessions</th>
    </tr>
  </thead>
  <tbody>
    <% report.forEach(session => { %>
      <tr>
        <td><%= session.sport.name %></td>
        <td><%= session.location %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

</body>
</html>