<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="csrf-token" content="<%= csrfToken %>">
</head>
<body>
    <form action="/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
      </form>
      <% if (errors && errors.length > 0) { %>
        <ul>
          <% errors.forEach(function(msg) { %>
            <li style="color: white;"><%= msg %></li>
          <% }); %>
        </ul>
      <% } %>
      
</body>
</html>