<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Session</title>
</head>
<body>
 

    <h1>Create a New Session</h1>
    <form action="/player/create-session" method="POST">
        <label for="sportId">Sport:</label>
        <select name="sportId" required>
            <% sports.forEach(sport => { %>
                <option value="<%= sport.id %>"><%= sport.name %></option>
            <% }) %>
        </select>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label for="location">Location:</label>
        <input type="text" name="location" required>

        <label for="startTime">Start Time:</label>
        <input type="datetime-local" name="startTime" required>

        <label for="endTime">End Time:</label>
        <input type="datetime-local" name="endTime" required>

        <label for="maxPlayers">Max Players:</label>
        <input type="number" name="maxPlayers" required>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">Create Session</button>
    </form>

   
</body>
</html>
